@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "opensans";

    font-display: swap;
    src:
      url("../fonts/opensans-regular.woff2") format("woff2"),
      url("../fonts/opensans-regular.woff") format("woff");
  }
