.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  fill: none;
  color: $color-nero;

  &--burger {
    transition: opacity $trans-03;

    &:hover {
      opacity: 0.8;
      transition: opacity $trans-03;
    }
    @include mobile {
      margin: 0 12px 0 0;
    }
  }

  &--reset {
    color: $color-dark-gray;
  }

  &--save {
    padding: 16px;
    text-align: center;
    font-family: $font--formular;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $color-dark-gray;
    transition: background-color $trans-03, color $trans-03;

    &:hover {
      background-color: $color-cobalt-09;
      color: $color-white;
      transition: background-color $trans-03, color $trans-03;
    }
  }

  &--active {
    color: $color-white;
    background-color: $color-cobalt;
  }

  &--arrow-left {
    outline: 0;
    offset: none;
    z-index: 1;
    padding: 11px 15px 9px 0;
    background: linear-gradient(to right, $color-white 39.69%, $color-white-03 76.86%);

    svg {
      transform: rotate(180deg);
    }
  }

  &--arrow-right {
    outline: 0;
    offset: none;
    padding: 11px 9px 9px 60px;
    background: linear-gradient(to left, $color-white 39.69%, $color-white-03 82.86%);
  }
}
